<%= image_tag 'https://previews.123rf.com/images/tatianadavidova/tatianadavidova2002/tatianadavidova200200042/140668413-exotic-cocktails-banner-watercolor-vector-cocktails-.jpg', alt:'cocktail banner', width: 350, class: 'banner' %>


<% @cocktails.each do |cocktail| %>
  <div class="card-category">
    <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
    <% cocktail.doses.each do |dose| %>
      <p><%= "- #{dose.ingredient.name}" %></p>
    <% end %>
  </div>
<% end %>

<%= cl_image_tag("https://res.cloudinary.com/popopong/image/upload/v1589564975/rihzhno49jcfjjac8yli.jpg",
      width: 400, height: 300, crop: :fill) %>